<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous">

    <title>Cart</title>
</head>

<body>

   
    <div class="container">
        <h2>My Cart</h2>
        <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Product</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">SRP(PhP)</th>
                        <th scope="col">Subtotal</th>
                        
                    </tr>
                </thead>
                <tbody *ngFor="let d of parentdata">
                    <td>{{d.name}}</td>
                    <td>{{d.qty}}</td>
                    <td>{{d.price}}</td>
                    <td></td>
                </tbody>
            </table>


    </div>

</body>

</html>