.body{
    background-image: url("https://g.foolcdn.com/editorial/images/494376/a-hand-putting-money-from-rising-coin-stacks-into-a-jar.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Libre Baskerville', serif;

}
