body{
    background-image: url("https://g.foolcdn.com/editorial/images/494376/a-hand-putting-money-from-rising-coin-stacks-into-a-jar.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Libre Baskerville', serif;

}


.btnStart{
    float: right;
    width: 30%;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    opacity: 70%;
    margin-right: 21%;
    margin-top: 1%;
    font-size: 20px;

}
.btnStart:hover{
    background-color: rgb(188, 201, 139);
}


.logo{
    width: 550px;
    height: 200px;
    margin: 5%; 
  
}